.presentation-view {
    height: 100%;
    display: flex;
    justify-content: center;


    .layout-item {
        object-fit: scale-down;
        min-width: 0;
        min-height: 0;
        max-width: 100%;
        max-height: 100%;
        flex: 1 1 auto;
    }
}

.control-view {
    display: flex;
    flex-direction: column;

    .control-view-layouts {
        display: flex;
        flex-direction: row;
        justify-content: center;

        height: 5em;

        border-bottom: 1px solid var(--tab-outline-color);
        margin-bottom: 0.5em;

        .layout-button {
            width: 6em;
            height: 4em;
            border: 1px solid var(--accent);
            margin: var(--size-4-1);
            padding: 1px;
        }

        .layout {

            align-items: stretch;
            justify-items: stretch;

            .layout-item {
                min-width: 0;
                min-height: 0;
                max-width: 100%;
                max-height: 100%;
                flex: 1 1 auto;

                background-color: var(--dark-accent);
                color: var(--side-bar);
                font-weight: bold;
                margin: 1px;

                align-self: stretch;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .control-view-items {
        display: flex;
        flex-direction: column;
        counter-reset: items-counter 0;

        .control-view-item {

            display: flex;
            align-items: center;
            justify-content: flex-end;
            border: 1px solid transparent;
            border-radius: var(--radius-s);
            color: var(--nav-item-color);
            font-size: var(--nav-item-size);
            line-height: var(--line-height-tight);
            font-weight: var(--nav-item-weight);
            margin-bottom: var(--size-2-1);
            padding: var(--nav-item-padding);
            overflow-wrap: anywhere;

            .control-view-item-number {
                counter-increment: items-counter 1;

                margin-right: var(--size-4-2);
                padding: var(--size-2-2) var(--size-2-2);
                background-color: var(--dark-accent);
                border-radius: 50%;
                color: var(--side-bar);
                font-weight: bold;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .control-view-item-number-text {
                width: var(--icon-size);
                height: var(--icon-size);
                text-align: center;
            }

            .control-view-item-number-text:before {
                content: counter(items-counter);
            }

            .control-view-item-title {
                justify-self: flex-start;
            }

            .control-view-item-panel {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
            }

        }

        .control-view-item:hover {
            border: 1px solid var(--accent);
            font-weight: var(--nav-item-weight-hover);
            background-color: var(--dark-sidebar);
        }

        .sortable-ghost {
            opacity: 50%;
            border: 1px dashed var(--accent);
        }


    }

    .control-view-tools {
        display: flex;
       flex-direction: column;

        .control-view-tools-row {

            display: flex;
            align-items: stretch;
            border: 1px solid transparent;
            border-radius: var(--radius-s);
            color: var(--nav-item-color);
            font-size: var(--nav-item-size);
            line-height: var(--line-height-tight);
            font-weight: var(--nav-item-weight);
            margin-bottom: var(--size-2-1);
            padding: var(--nav-item-padding);

            .control-view-tools-button {
                padding-right: var(--size-2-2);
                padding-top: var(--size-2-2);
                padding-bottom: var(--size-2-2);
            }

            .control-view-tools-drop-area {
                border: 1px dashed var(--nav-item-color);
                flex-grow: 1;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .control-view-tools-right-spacer {
                width: var(--icon-size);
                margin: var(--size-2-2) var(--size-2-3);
            }
        }
    }

    .hidden {
        visibility: hidden;
    }
}

.layout {
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.layout-1 {
    display: flex;
}

.layout-2a {
    display: flex;
}

.layout-2b {
    display: flex;
    flex-direction: column;
}

.layout-3a {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr 1fr / 2fr 1fr;

    .layout-item:nth-child(1) {
        grid-row: 1 / span 2;
        align-self: stretch;
        justify-self: stretch;
    }

    .layout-item:nth-child(2) {
        align-self: end;
    }

    .layout-item:nth-child(3) {
        align-self: start;
    }
}

.layout-3b {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr 1fr / 1fr 2fr;

    .layout-item:nth-child(1) {
        align-self: end;
    }

    .layout-item:nth-child(2) {
        grid-row-end: span 2;
        align-self: stretch;
        justify-self: stretch;
    }

    .layout-item:nth-child(3) {
        align-self: start;

    }
}

.layout-3c {
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr 1fr / 1fr 2fr;

    .layout-item:nth-child(1) {
        align-self: end;
    }

    .layout-item:nth-child(2) {
        align-self: start;
    }

    .layout-item:nth-child(3) {
        grid-row: 1 / span 2;
        align-self: stretch;
        justify-self: stretch;
    }
}

.layout-3d {
    display: flex;
}

.layout-4 {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.layout-5a {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr 1fr / repeat(6, 1fr);

    .layout-item:nth-child(1) {
        grid-column-end: span 3;
    }

    .layout-item:nth-child(2) {
        grid-column-end: span 3;
    }

    .layout-item:nth-child(3) {
        grid-column-end: span 2;
    }

    .layout-item:nth-child(4) {
        grid-column-end: span 2;
    }

    .layout-item:nth-child(5) {
        grid-column-end: span 2;
    }
}

.layout-5b {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr 1fr / repeat(6, 1fr);

    .layout-item:nth-child(1) {
        grid-column-end: span 2;
    }

    .layout-item:nth-child(2) {
        grid-column-end: span 2;
    }

    .layout-item:nth-child(3) {
        grid-column-end: span 2;
    }

    .layout-item:nth-child(4) {
        grid-column-end: span 3;
    }

    .layout-item:nth-child(5) {
        grid-column-end: span 3;
    }
}

.layout-6 {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}
